@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background-color: #FCFCFC;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  margin-left: 5rem;
  margin-right: 5rem;
  padding: 0;
}


@media (max-width: 479px) {
  body {
    margin: 0;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  body {
    margin: 0;
  }
}